# ===== 数据文件（比赛用，绝不上传） =====
*.csv
*.tsv
*.pkl
*.npy
*.npz
*.zip

# 如果你习惯用 data 目录
data/
dataset/
datasets/

# ===== Notebook 产物 =====
.ipynb_checkpoints/

# ===== Python =====
__pycache__/
*.pyc

# ===== 系统文件 =====
.DS_Store
Thumbs.db
